/* import font sử dụng css @font-face */
@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico.ttf');
}

body {
	font-family: 'Myriad Pro';
}
.container{}
.bloom-text {
	font-size: 45px;
    font-family: 'Pacifico';
   	color: white
}
.header{
	background: #2f2f2f;
	padding-left: 100px;
	padding-right: 100px;
}
.header-li{
	display: inline-block;
	margin: 12px;
}
.menu-link{
	color: white;
	font-family: 'Myriad Pro';
	font-size: 17px;
	text-decoration: none;
}
.header-ul{
	float: right;
}
/*Hết phần header*/
.line-1{
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}
.top{
	width: 40%;
	float: left;
}
.top-top{
	font-size: 26px;
}
.top-mid{
	font-size: 14px;
	padding-top: 22px;
    padding-bottom: 71px;
}
.top-bot{
	font-size: 13pt;
    background: #f99640;
    border-radius: 5px;
    text-align: center;
    width: 125px;
    height: 28px;
    line-height: 28px;
}
.bot-font{
	color: white;
	text-decoration: none;
}
.image{
	width: 60%;
	height:233px;
	background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	float: left;
}


.line-2{
	clear: both;
	background: #ffffff;
	padding: 100px;
	padding-bottom: 400px;
}
.line-2-head{
	font-size: 26px;
	padding-bottom: 12px
}
.col-1{
	width: 30%;
	float: left;
	padding: 18px
}
.l2-block{
	background: #2f2f2f;
	height: 200px;
}
.text-1{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text-2{
	font-size: 14px;
	padding-bottom: 12px;
}

}
/*Phần Footer*/
.footer{
	clear: both;
}
.footer-wrap{
	clear: both;
	padding: 100px;
	height: 175px;
    background: #2f2f2f;
    color: white;
}
.f-head-1{
	font-size: 21px;
    padding-bottom: 15px;
}
.row-0{
	padding: 4px;
}
.r1{
	font-size: 15.47px;
    padding: 6px;
    padding-top: 2px;
}
.r2{
	font-size: 13.18px;
	padding: 6px;
}
.f-col-1{
	width: 35%;
	float: left;
}
.f-7-july{
	float: left;
	margin-right: 10px;
	clear: both;
}
.f-col-2{
	width: 35%;
	float: left;
}
.f-head-2{
	padding-bottom: 20px;
	font-size: 19px;
}
.f-col-3{
	width: 25%;
	float: left;
	padding-left: 30px;
}
.f-img{
	clear: both;
	float: left;
	padding: 4px;
}
.txt{
	float: left;
	padding:12px;
	padding-left: 20px;
	font-size: 18px;
	color: white;
	text-decoration: none;
}
.f-head-3{
	padding-bottom: 20px;
	font-size: 20px;
}
